<h1 class="form-text">Create new List</h1>

<div class="form-container">
  <div class="container">
  <%= simple_form_for @list do |f|  %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
