
    <div class="box1">
      <div class="content-title">
        <span class="title">Movies</span>
      </div>
    </div>

    <div class="content">
      <h3>All your movies and series in one place!</h3>
      <p class="mt-5">Now all you have to do is pop some popcorn and have a good session</p>
      <p class="mt-3"><%= link_to "Create List", new_list_path, class:"btn btn-ghost " %> </p>
    </div>

    <div class="box2">
      <div class="content-title">
        <span class="title">Series</span>
      </div>
    </div>

    <div class="content">
      <h3>All your movies and series in one place!</h3>
      <p class="mt-5">Now all you have to do is pop some popcorn and have a good session</p>

    </div>

    <div class="box3">
      <div class="content-title">
        <span class="title">Animes</span>
      </div>
    </div>



