<div class="card" style="background-image:  url(https://images4.alphacoders.com/677/677434.png)">
  <h1>Info of <%= @list.name %> </h1>
</div>

<div>
  <ul>
    <% @list.movies.each do |movie| %>
      <p> <%= movie.title %> </p>
    <% end %>
  </ul>
</div>

<%= link_to "Create Bookmarks", new_list_bookmark_path(@list), class:"btn btn-ghost" %>
<%= link_to "Home", lists_path, class:"btn btn-ghost" %>

